MINECRAFT_SERVER_MANAGEMENT_SECRET=
MINECRAFT_SERVER_MANAGEMENT_URL=
MINECRAFT_SERVER_MANAGEMENT_ORIGIN=
MINECRAFT_SERVER_MANAGEMENT_HOST=

MINECRAFT_REST_CACHE_READ_TOKEN=
MINECRAFT_REST_CACHE_WRITE_TOKEN=